@font-face {
  font-family: "pt_sans_captionbold";
  src: url("ptsanscaption-bold-webfont.woff2") format("woff2"),
    url("ptsanscaption-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "pt_sans_captionregular";
  src: url("ptsanscaption-regular-webfont.woff2") format("woff2"),
    url("ptsanscaption-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --brand-color: #250625;
}

h1,
h2,
h3,
h4,
p {
  font-family: "PT Sans Caption", sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="radio"] {
  min-width: 55px;
  max-width: 55px;
}

.languages .dropdown-toggle::before {
  all: unset;
}

.section.section-padding {
  padding-bottom: 130px;
}

.calculator {
  display: flex;
  justify-content: center;
  color: #ffffff;
  padding: 0 50px;
}
.calculator > * {
  flex-basis: 100%;
}

.calculator-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;
  align-items: center;
}

.calculator-form_controllers {
  font-size: 14px;
}

.calculator-form_row {
  width: 100%;
  position: relative;
}
.calculator-form > div {
  display: flex;
}

.mr-2 {
  margin-right: 5px;
}

.calculator-form_button {
  text-transform: uppercase;
  padding: 5px 20px;
  height: 55px;
}

.calculator-submit {
  margin-right: 10px;
box-shadow: rgba(217, 217, 217, 0.782) 0px 0px 2px 1px;
}


.form-group {
  position: relative;
}

.radio-container {
  position: relative;
 
}
.calculator-label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
}

.calculator-radio:checked {
  background-color: var(--brand-color);
  border: none;
box-shadow: rgba(217, 217, 217, 0.782) 0px 0px 2px 1px;
}
.calculator-radio:checked + .calculator-label {
  color: #ffffff;
}

.calculator-form_button.calculator-reset {
  background: none;
  background-color: grey;
}
.calculator-reset:hover{
  box-shadow: rgba(217, 217, 217, 0.782) 0px 0px 2px 1px;
}

.calculator-last {
  margin-bottom: 36px;
}

.header-right > *:not(:last-child) {
  margin-right: 15px;
}

.current-language {
  font-weight: 600;
  color: var(--brand-color);
  font-size: 18px;
  margin-right: 10px;
}

.header-login{
  padding: 16px 48px;
}

.languages-dropdown {

  text-align: center;
  left: 50% !important;
  transform: translateX(-50%) !important;
  top: 100% !important;
  margin-top: 0.5rem !important;
  padding: 0.65rem 0;
  position: absolute;
  min-width: 4rem;
  border: none;
  
      inset: 0px auto auto 0px;
      margin: 0px;
      transform: translate3d(0px, 42px, 0px);
 
}

.faq-list {
  text-align: left;
  color: #777;
  line-height: 26px;
  margin: 0 0 20px;
}

.footer-heading {
  margin-bottom: 30px;
}

.footer-phone {
  font-size: 24px;
}

.footer-contacts {
  color: #ffffff;
}

.footer-container {
  display: flex;
  justify-content: space-around;
}

.shipment {
  position: relative;
  z-index: 10;
}

.footer-logo{
  position: relative;
    left: -25px;
}
.uppercase,
footer h4{
  text-transform: uppercase;
}
.dropdown-option{
  font-size: 14px;
  font-weight: 600;
}

.current-language::before{
  content: " ";
    position: absolute;
    top: calc(50% - 5px);
    right: 0;
    border-color: rgb(119, 119, 119);
    color: rgb(119, 119, 119);
    border-top: 2px solid;
    border-right: 2px solid;
    width: 6px;
    height: 6px;backface-visibility: hidden;transform: rotate(135deg);
}
@media screen and (max-width: 768px) {
  .calculator {
    flex-direction: column;
  }
  .calculator-section:first-child{
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 768px) {
  .calculator {
    flex-direction: row;
  }
  .calculator-section:first-child {
    margin-right: 60px;
  }
}
