@font-face {
  font-family: "pt_sans_captionbold";
  src: url("ptsanscaption-bold-webfont.woff2") format("woff2"),
    url("ptsanscaption-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "pt_sans_captionregular";
  src: url("ptsanscaption-regular-webfont.woff2") format("woff2"),
    url("ptsanscaption-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

html{scroll-padding-top: 5rem;}
.section.section-margin{
  margin-top: 0;
}

:root {
  --brand-color: #250625;
}

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;z-index: 1000;
      background-color: transparent;
      /* background-color: #777; */
      display: none;
    }

h1,
h2,
h3,
h4,
p, .header-nav {
  font-family: "PT Sans Caption", sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}



.languages .dropdown-toggle::before {
  all: unset;
}

.section.section-padding {
  padding-bottom: 130px;
}

.calculator {
  display: flex;
  justify-content: center;
  color: #ffffff;
}
.calculator > * {
  flex-basis: 100%;
}

.calculator-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;
  align-items: center;
}

.calculator-form_controllers {
  font-size: 14px;
}

.calculator-form_row {
  width: 100%;
  position: relative;
}
.calculator-form_row {
  margin-bottom: 12px;
}
.calculator-form > div {
  display: flex;
}

.mr-2 {
  margin-right: 5px;
}

.calculator-form_button {
  text-transform: uppercase;
  padding: 5px 20px;
  height: 55px;
}

.calculator-submit {
  box-shadow: rgba(217, 217, 217, 0.782) 0px 0px 2px 1px;
}

.form-group {
  position: relative;
}

.radio-container {
  position: relative;
  margin-bottom: 15px;
  text-align: left;
  width: 100%;
  padding-left: 19px;
}
.calculator-label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
}

.calculator-radio:checked {
  background-color: var(--brand-color);
  border: none;
  box-shadow: rgba(217, 217, 217, 0.782) 0px 0px 2px 1px;
}
.calculator-radio:checked + .calculator-label {
  color: #ffffff;
}

.calculator-form_button.calculator-reset {
  background: none;
  background-color: grey;margin-right: 10px;
}
.calculator-reset:hover {
  box-shadow: rgba(217, 217, 217, 0.782) 0px 0px 2px 1px;
}

.calculator-last {
  margin-bottom: 24px;
}

.header-right > *:not(:last-child) {
  margin-right: 15px;
}
.calculator-result {
  position: relative;
  z-index: 10;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  display: none;
 align-items: center;
}
.result-container{
  display: flex;
}

.show-flex{
  display: flex;
}

.current-language {
  font-weight: 600;
  color: var(--brand-color);
  font-size: 18px;
  margin-right: 10px;
}

.header-login {
  padding: 8px 35px;
}

.languages-dropdown {
  text-align: center;
  left: 50% ;
  transform: translateX(-50%) ;
  top: 100% ;
  margin-top: 0.5rem ;
  padding: 0.65rem 0;
  position: absolute;
  min-width: 4rem;
  border: none;

  inset: 0px auto auto 0px;
  margin: 0px;
  transform: translate3d(0px, 42px, 0px);
}

.faq-list {
  text-align: left;
  color: #777;
  line-height: 26px;
  margin: 0 0 20px;
}

.footer-heading {
  margin-bottom: 30px;
}
.table-container {
  padding: 0 40px;
  display: flex;
  justify-content: center;
}
.calculator-table {
  display: none;
  color: #fff;
  width: 100%;
}

.dynamic-values-fontweight{
  font-weight: 600;
}

.show-table {
  display: block;
}

.footer-phone {
  font-size: 24px;
}

.footer-contacts {
  color: #ffffff;
}

.footer-container {
  display: flex;
  justify-content: space-around;
}

.shipment {
  position: relative;
  z-index: 10;
}
#footer, .footer-copyright{
  background-color: var(--brand-color);
}
.footer-copyright {
  color: var(--brand-color);
}
.footer-logo {
  position: relative;
  left: -25px;
}
.uppercase,
footer h4 {
  text-transform: uppercase;
}
.dropdown-option {
  font-size: 14px;
  font-weight: 600;
}

.result-option{
  display: flex;
}

.result-heading{
  text-align: center;
  margin-bottom: 40px;
}
.start-button{
  padding: 16px 48px;
}

.current-language::before {
  content: " ";
  position: absolute;
  top: calc(50% - 5px);
  right: 0;
  border-color: rgb(119, 119, 119);
  color: rgb(119, 119, 119);
  border-top: 2px solid;
  border-right: 2px solid;
  width: 6px;
  height: 6px;
  backface-visibility: hidden;
  transform: rotate(135deg);
}

.info-img{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: transparent;
}
.result-notification{
  color: #da291c;
}

footer p,
.footer-copyright,
footer li {
  font-size: 14px;
}


.withDimensionsNotification{
  position: relative;
  top: -10px;
  height: 15px;
  width: 15px;
}
.passageOptions{
  position: relative;
}

.displayNone{
  display: none;
}
.language-select:hover .languages-dropdown{
display: block;
}

.withDimensionsNotification:hover .weightPrompt{
  display: block;
}

.weightPrompt {
  position: absolute;

  font-size: 12px;
}

.form-check-input:checked {
  background-color: #0d6efd;
  border-color: white;
background: grey;
}


@media screen and (max-width: 500px) {
  body{
    font-size: 1rem;
  }

 .calculator-form_button{
    padding: 0 20px;
}}
@media screen and (max-width: 768px) {
  .calculator {
    flex-direction: column;
    padding: 0 10px;
  }
    .faq-list {
  
      padding-top: 10px;
    }

        .weightPrompt {
          position: absolute;
          top: -30px;
          width: 100%;
          right: -5%;
        }

    .partner-logo {
      width: 200px;
    }

    section.section.how-it-works-section {
      padding: 0;
    }

  .faq-paddings{
    padding: 12px 25px 12px 15px;
  }

    .footer-container {
     padding-bottom: 24px;
    }
  .calculator-section:first-child {
    margin-bottom: 50px;
  }
  .section-logos > *:not(:last-child) {
    margin-bottom: 60px;
  }

  .section.section-perks {
    padding-top: 0;
  }
  .calculator-result {
    padding: 20px 10px 0 10px;
  }
  .our-blog {
    padding: 0 10px;
  }
  section.toggle {
    width: 100%;
  }
    .result-container {
      display: flex;
      flex-direction: column;
    }
}


@media screen and (min-width: 768px) {
  .faq-list {
     
      padding-top: 20px;
    }
  .partner-logo {
      width: 110px;
    }

        .weightPrompt {
          top: -20px;
          right: -105%;
        }
  .calculator {
    flex-direction: row;
    padding: 0 50px;
  }
    .footer-container {
      padding-bottom: 10px;
    }

  section.section.how-it-works-section{
  padding: 50px 0;
  }
    .result-option:first-child {
      margin-right: 60px;
    }
  .calculator-result {
    padding: 40px 50px 0 50px;
  }
  .calculator-section:first-child {
    margin-right: 60px;
  }
}
