:root{
  --brand-color: #250625;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="radio"] {
  min-width: 55px;
  max-width: 55px;
}

.languages .dropdown-toggle::before {
  all: unset;
}

.section.section-padding{
  padding-bottom: 130px;
}

.calculator {
  display: flex;
  justify-content: center;
  color: #ffffff;
  padding: 0 50px;
}
.calculator > * {
  flex-basis: 100%;
}

.calculator-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;
  align-items: center;
}

.calculator-form_controllers {
  font-size: 14px;
}

.calculator-form_row {
  width: 100%;
  position: relative;
}
.calculator-form > div {
  display: flex;
}

.mr-2 {
  margin-right: 5px;
}

.calculator-form_button {
  text-transform: uppercase;
  padding: 5px 20px;
  height: 55px;
}

.calculator-submit {
  margin-right: 10px;
}
.form-group {
  position: relative;
}

.radio-container{
  position: relative;
}
.calculator-label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
}
.calculator-radio:checked {
background-color: var(--brand-color);
border: none;
}
.calculator-radio:checked + .calculator-label {color: #ffffff;}

.calculator-form_button.calculator-reset {
  background: none;
  background-color: grey ;
}

.calculator-last {
  margin-bottom: 36px;
}


.header-right > *:not(:last-child) {
margin-right: 15px;
}

.current-language{
  font-weight: 600;
  color: var(--brand-color);
  font-size: 18px;
}

.languages-dropdown{
  text-align: center;
      left: 50% !important;
        transform: translateX(-50%) !important;
        top: 100% !important;
        margin-top: 0.5rem !important;
        padding: 0.65rem 0;
        position: absolute;
        min-width: 4rem;
        border: none;
}

.faq-list{
  text-align: left;
  color: #777;
    line-height: 26px;
    margin: 0 0 20px;
}

.footer-heading{
  margin-bottom: 30px;
}

.footer-phone{
  font-size: 36px;
}

.footer-contacts {
  color: #ffffff;
}

.footer-container{
  display: flex;
  justify-content: space-around;
}


.shipment{
  position: relative;
  z-index: 10;
}
@media screen and (max-width: 768px) {
  .calculator {
    flex-direction: column;
  }
}

@media screen and (min-width: 768px) {
  .calculator {
    flex-direction: row;
  }
  .calculator-section:first-child {
    margin-right: 60px;
  }
}
